.main {
    font-family: comic sans ms;
    margin-bottom: 25px;
    text-align: center;
    color: white
}

#picture {
    max-height: 400px;
    margin-bottom: 25px;
}

#bio {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

body {
    background-image: url("https://scontent-hou1-1.xx.fbcdn.net/v/t1.18169-9/403641_10150529146597147_1617680575_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=Ip3jGyG6x6kAX-J0SdV&_nc_ht=scontent-hou1-1.xx&oh=00_AfCndvWBXKMh5wO4LX2zZMZSJgA6IaOHXmlgWZ_A40ygBA&oe=63AFA39E");
}
